BOT_TOKEN=REPLACE
CHANNEL_ID=REPLACE
USER_ID=REPLACE
MAXIMUM_DELAY_MINUTES=10
SCHEDULE_SUNDAY=[0,1,20,21,22,23]
SCHEDULE_MONDAY=[0,1,20,21,22,23]
SCHEDULE_TUESDAY=[0,1,20,21,22,23]
SCHEDULE_WEDNESDAY=[0,1,20,21,22,23]
SCHEDULE_THURSDAY=[0,1,20,21,22,23]
SCHEDULE_FRIDAY=[0,1,20,21,22,23]
SCHEDULE_SATURDAY=[0,1,20,21,22,23]